/* You can add global styles to this file, and also import other style files */
// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Titillium+Web:400,700&display=swap');

@import '../node_modules/bulma/bulma.sass';
@import './custom-styles.scss';

$family-sans-serif: 'Titillium Web', sans-serif;


/* GLOBAL STYLES */
html, body {
    height: 100%;
}

html {
    background-color: rgba(255, 255, 179, 0.5);
    overflow-y: auto !important;
}